@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Body Styling */
body {
  min-height: 100vh;
  overflow-x: hidden;

  background-color: #ffffff;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  cursor: pointer;
  outline: none;
}
